#section-traffic-light {
    display: flex;
    font-size: 15px;

    #container-traffic-light {
        background-color: #181818;
        display: flex;
        margin: auto;
        padding: 1em 1em;
        border-radius: 0.8em;
    }
}

.column-traffic-light {
    display: flex;
    flex-direction: column;

    .light {
        width: 5.4em;
        aspect-ratio: 1;
        border-radius: 50%;
        margin: 0.45em 1.3em;
    }
}

.light-other {
    background: linear-gradient(145deg, #3b3b3b 0%, #303030 32%, #282828 59%, #282828 100%);
}
.light-red-off {
    background: linear-gradient(145deg, #5c3131 0%, #5a1c1c 32%, #3b0d0d 59%, #3b0d0d 100%);
}
.light-red {
    background: linear-gradient(145deg, #ffa4a4 0%, #ff3636 32%, #f00 59%, #f00 100%);
    box-shadow:  0px 0px 15px #fc0000;
}