#section-title {
    display: flex;
    margin-bottom: 20px;

    h1 {
        all: unset;
        margin: auto;
        font-weight: 700;
        font-size: 3rem;
        color: white;
        text-align: center;
    }
}