@font-face {
    font-family: 'Formula1';
    src: url('./font/f1/Formula1-Bold_web_0.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: url('./font/f1/Formula1-Regular_web_0.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1-Wide';
    src: url('./font/f1/Formula1-Wide_web_0.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}






body, html, #root {
    margin: 0;
}

#root {
    width: 100%;
    height: 100vh;
    background: url('./assets/bg.webp');
    background-size: cover;
    background-position: center;
    //add some blur to the background
    
}

.App {
    background-color: rgba($color: #000000, $alpha: .4);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Formula1', sans-serif;
}

#tap-screen {
    all: unset;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}